<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
</configSections>
<exceptionHandling>
    <exceptionPolicies>
        <add name="BMLExceptionPolicy">
            <exceptionTypes>
                <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
                    <exceptionHandlers>
                        <add type="SilkERP360.CCL.ExceptionManagement.ExceptionHandlers.BMLExceptionHandler, SilkERP360.CCL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="BMLExceptionHandler"/>
                    </exceptionHandlers>
                </add>
            </exceptionTypes>
        </add>
        <add name="SilkERPServiceExceptionHandlingPolicy">
            <exceptionTypes>
                <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
                    <exceptionHandlers>
                        <add type="SilkERP360.CCL.ExceptionManagement.ExceptionHandlers.SilkERPServiceExceptionPolicy, SilkERP360.CCL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SilkERPServiceExceptionPolicy"/>
                    </exceptionHandlers>
                </add>
            </exceptionTypes>
        </add>
        <add name="DALExceptionPolicy">
            <exceptionTypes>
                <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
                    <exceptionHandlers>
                        <add type="SilkERP360.CCL.ExceptionManagement.ExceptionHandlers.DALExceptionHandler, SilkERP360.CCL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="DALExceptionHandler"/>
                    </exceptionHandlers>
                </add>
            </exceptionTypes>
        </add>
    </exceptionPolicies>
</exceptionHandling>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
