*.vsidx
/.vs/SilkERP360/v17/DocumentLayout.backup.json
/.vs/SilkERP360/v17/.suo
/.vs/SilkERP360/v17/DocumentLayout.json
/BiometricDataSync/bin/Debug/BiometricDataSync.exe
/BiometricDataSync/bin/Debug/BiometricDataSync.pdb
/BiometricDataSync/bin/Debug/SilkERP360.BML.dll
/BiometricDataSync/bin/Debug/SilkERP360.BML.pdb
/BiometricDataSync/bin/Debug/SilkERP360.DAL.dll
/BiometricDataSync/bin/Debug/SilkERP360.DAL.pdb
/BiometricDataSync/bin/Debug/SilkERP360.SP.dll
/BiometricDataSync/bin/Debug/SilkERP360.SP.pdb
/BiometricDataSync/bin/Debug/SilkERPDataService.dll
/BiometricDataSync/bin/Debug/SilkERPDataService.pdb
/BiometricDataSync/bin/Debug/SilkERPSync.exe
/BiometricDataSync/bin/Debug/SilkERPSync.pdb
/SilkERP360/bin/SilkERP360.BML.dll
/SilkERP360/bin/SilkERP360.BML.pdb
/SilkERP360/bin/SilkERP360.dll
/SilkERP360/bin/SilkERP360.FL.dll
/SilkERP360/bin/SilkERP360.FL.pdb
/SilkERP360/bin/SilkERP360.pdb
/SilkERP360/bin/SilkERP360.SP.dll
/SilkERP360/bin/SilkERP360.SP.pdb
/SilkERP360/bin/SilkERPDataService.dll
/SilkERP360/bin/SilkERPDataService.pdb
/SilkERP360/obj/Debug/SilkERP360.csproj.AssemblyReference.cache
/SilkERP360/obj/Debug/SilkERP360.csproj.CoreCompileInputs.cache
/SilkERP360/obj/Debug/SilkERP360.csproj.FileListAbsolute.txt
/SilkERP360/obj/Debug/SilkERP360.dll
/SilkERP360/obj/Debug/SilkERP360.pdb
/SilkERP360.BML/obj/Debug/SilkERP360.BML.csproj.AssemblyReference.cache
/SilkERP360.BML/obj/Debug/SilkERP360.BML.csproj.CoreCompileInputs.cache
/SilkERP360.BML/obj/Debug/SilkERP360.BML.csproj.FileListAbsolute.txt
/SilkERP360.BML/obj/Debug/SilkERP360.BML.dll
/SilkERP360.BML/obj/Debug/SilkERP360.BML.pdb
/SilkERP360.FL/obj/Debug/SilkERP360.FL.csproj.AssemblyReference.cache
/SilkERP360.FL/obj/Debug/SilkERP360.FL.csproj.CoreCompileInputs.cache
/SilkERP360.FL/obj/Debug/SilkERP360.FL.csproj.FileListAbsolute.txt
/SilkERP360.FL/obj/Debug/SilkERP360.FL.dll
/SilkERP360.FL/obj/Debug/SilkERP360.FL.pdb
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.BML.dll
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.BML.pdb
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.DAL.pdb
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.OfflineDataProcessing.exe
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.OfflineDataProcessing.pdb
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.SP.dll
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.SP.pdb
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.BML.dll
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.BML.pdb
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.DAL.pdb
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.OfflinePrint.exe
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.OfflinePrint.pdb
/SilkERP360.SP/bin/Debug/SilkERP360.BML.dll
/SilkERP360.SP/bin/Debug/SilkERP360.BML.pdb
/SilkERP360.SP/bin/Debug/SilkERP360.SP.dll
/SilkERP360.SP/bin/Debug/SilkERP360.SP.pdb
/SilkERPSync/obj/x86/Debug/SilkERPSync.csproj.AssemblyReference.cache
/SilkERPSync/obj/x86/Debug/SilkERPSync.csproj.CoreCompileInputs.cache
/SilkERPSync/obj/x86/Debug/SilkERPSync.csproj.FileListAbsolute.txt
/SilkERPSync/obj/x86/Debug/SilkERPSync.exe
/SilkERPSync/obj/x86/Debug/SilkERPSync.pdb
/SilkERPSync/bin/Debug/SilkERP360.BML.dll
/SilkERPSync/bin/Debug/SilkERP360.BML.pdb
/SilkERPSync/bin/Debug/SilkERP360.DAL.dll
/SilkERPSync/bin/Debug/SilkERP360.DAL.pdb
/SilkERPSync/bin/Debug/SilkERP360.SP.dll
/SilkERPSync/bin/Debug/SilkERP360.SP.pdb
/SilkERPSync/bin/Debug/SilkERPDataService.dll
/SilkERPSync/bin/Debug/SilkERPDataService.pdb
/SilkERPSync/bin/Debug/SilkERPSync.exe
/SilkERPSync/bin/Debug/SilkERPSync.pdb
/SilkERPDataService/obj/Debug/SilkERPDataService.csproj.AssemblyReference.cache
/SilkERPDataService/obj/Debug/SilkERPDataService.csproj.CoreCompileInputs.cache
/SilkERPDataService/obj/Debug/SilkERPDataService.csproj.FileListAbsolute.txt
/SilkERPDataService/obj/Debug/SilkERPDataService.dll
/SilkERPDataService/obj/Debug/SilkERPDataService.pdb
/SilkERPDataService/bin/Debug/SilkERP360.BML.dll
/SilkERPDataService/bin/Debug/SilkERP360.BML.pdb
/SilkERPDataService/bin/Debug/SilkERPDataService.dll
/SilkERPDataService/bin/Debug/SilkERPDataService.pdb
/SilkERP360.SP/obj/Debug/SilkERP360.SP.csproj.AssemblyReference.cache
/SilkERP360.SP/obj/Debug/SilkERP360.SP.csproj.CoreCompileInputs.cache
/SilkERP360.SP/obj/Debug/SilkERP360.SP.csproj.FileListAbsolute.txt
/SilkERP360.SP/obj/Debug/SilkERP360.SP.dll
/SilkERP360.SP/obj/Debug/SilkERP360.SP.pdb
/SilkERP360.OfflinePrint/obj/x86/Debug/SilkERP360.OfflinePrint.csproj.AssemblyReference.cache
/SilkERP360.OfflinePrint/obj/x86/Debug/SilkERP360.OfflinePrint.csproj.CoreCompileInputs.cache
/SilkERP360.OfflinePrint/obj/x86/Debug/SilkERP360.OfflinePrint.csproj.FileListAbsolute.txt
/SilkERP360.OfflinePrint/obj/x86/Debug/SilkERP360.OfflinePrint.exe
/SilkERP360.OfflinePrint/obj/x86/Debug/SilkERP360.OfflinePrint.pdb
/SilkERP360.OfflineDataProcessing/obj/x86/Debug/SilkERP360.OfflineDataProcessing.csproj.AssemblyReference.cache
/SilkERP360.OfflineDataProcessing/obj/x86/Debug/SilkERP360.OfflineDataProcessing.csproj.CoreCompileInputs.cache
/SilkERP360.OfflineDataProcessing/obj/x86/Debug/SilkERP360.OfflineDataProcessing.csproj.FileListAbsolute.txt
/SilkERP360.OfflineDataProcessing/obj/x86/Debug/SilkERP360.OfflineDataProcessing.exe
/SilkERP360.OfflineDataProcessing/obj/x86/Debug/SilkERP360.OfflineDataProcessing.pdb
/SilkERP360.FL/bin/Debug/SilkERP360.BML.dll
/SilkERP360.FL/bin/Debug/SilkERP360.BML.pdb
/SilkERP360.FL/bin/Debug/SilkERP360.FL.dll
/SilkERP360.FL/bin/Debug/SilkERP360.FL.pdb
/SilkERP360.BML/bin/Debug/SilkERP360.BML.dll
/SilkERP360.BML/bin/Debug/SilkERP360.BML.pdb
/BiometricDataSync/obj/x86/Debug/BiometricDataSync.csproj.AssemblyReference.cache
/BiometricDataSync/obj/x86/Debug/BiometricDataSync.csproj.CoreCompileInputs.cache
/BiometricDataSync/obj/x86/Debug/BiometricDataSync.csproj.FileListAbsolute.txt
/BiometricDataSync/obj/x86/Debug/BiometricDataSync.exe
/BiometricDataSync/obj/x86/Debug/BiometricDataSync.pdb
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/.vs/SilkERP360/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
/BiometricDataSync/bin/Debug/SilkERP360.CCL.dll
/BiometricDataSync/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360/bin/SilkERP360.CCL.dll
/SilkERP360/bin/SilkERP360.CCL.pdb
/SilkERP360/bin/SilkERP360.DAL.dll
/SilkERP360/bin/SilkERP360.DAL.pdb
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.OfflineDataProcessing/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.DAL/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.DAL/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.DAL/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.DAL/bin/Debug/SilkERP360.DAL.pdb
/SilkERP360.DAL/obj/Debug/SilkERP360.DAL.csproj.AssemblyReference.cache
/SilkERP360.DAL/obj/Debug/SilkERP360.DAL.csproj.CoreCompileInputs.cache
/SilkERP360.DAL/obj/Debug/SilkERP360.DAL.csproj.FileListAbsolute.txt
/SilkERP360.DAL/obj/Debug/SilkERP360.DAL.dll
/SilkERP360.DAL/obj/Debug/SilkERP360.DAL.pdb
/SilkERP360.CCL/obj/Debug/SilkERP360.CCL.csproj.AssemblyReference.cache
/SilkERP360.CCL/obj/Debug/SilkERP360.CCL.csproj.FileListAbsolute.txt
/SilkERP360.CCL/obj/Debug/SilkERP360.CCL.dll
/SilkERP360.CCL/obj/Debug/SilkERP360.CCL.pdb
/SilkERP360.BML/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.BML/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.BML/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.BML/bin/Debug/SilkERP360.DAL.pdb
/SilkERPDataService/bin/Debug/SilkERP360.CCL.dll
/SilkERPDataService/bin/Debug/SilkERP360.CCL.pdb
/SilkERPDataService/bin/Debug/SilkERP360.DAL.dll
/SilkERPDataService/bin/Debug/SilkERP360.DAL.pdb
/SilkERP360.SP/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.SP/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.SP/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.SP/bin/Debug/SilkERP360.DAL.pdb
/SilkERP360.FL/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.FL/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.FL/bin/Debug/SilkERP360.DAL.dll
/SilkERP360.FL/bin/Debug/SilkERP360.DAL.pdb
/.vs/SilkERP360/v17/fileList.bin
/.vs/SilkERP360/v17/HierarchyCache.v1.txt
/SilkERP360.CCL/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.CCL/bin/Debug/SilkERP360.CCL.pdb
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.CCL.dll
/SilkERP360.OfflinePrint/bin/Debug/SilkERP360.CCL.pdb
/SilkERPSync/bin/Debug/SilkERP360.CCL.dll
/SilkERPSync/bin/Debug/SilkERP360.CCL.pdb
